# Ejercicios con Series

In [1]:
from pandas import Series

In [20]:
#1. Crea las listas brand, models y prices citadas anteriormente.
brand = ['Camp', 'Camp', 'Petzl', 'Petzl', 'Edelrid', 'Edelrid', 'Edelrid', 'Black Diamond', 'Black Diamond', 'Mammut']
models = ['Energy', 'Jasper', 'Simba', 'Adjama New', 'Moe', 'Orion', 'Leaf','Xenes', 'Chaos', 'Ophir']
prices = [39.90, 56.00, 45.00, 75.00, 49.90, 99.90, 65.00, 119.90, 99.90, 55.00]

Size brand: 10
Size models: 10
Size prices: 10

In [8]:
#2. Define una Series en la que models sean los índices y prices los valores
product = Series(prices, index=models)
print(product)

Energy         39.9
Jasper         56.0
Simba          45.0
Adjama New     75.0
Moe            49.9
Orion          99.9
Leaf           65.0
Xenes         119.9
Chaos          99.9
Ophir          55.0
dtype: float64

In [5]:
#3. Muestra los modelos con el precio menor que 70 euros.
print(product[product < 70])

Energy    39.9
Jasper    56.0
Simba     45.0
Moe       49.9
Leaf      65.0
Ophir     55.0
dtype: float64

In [23]:
#4. Define una nueva Series que contenta el precio original para todos los productos excepto para la marca (brand) “Edelrid”,
# a la que hay que realizarle el 10% de descuento.
nuevaSerie = Series(prices,index=brand)
nuevaSerie["Edelrid"] -= nuevaSerie["Edelrid"] * 0.10
nuevaSerie["Edelrid"]

Edelrid    44.91
Edelrid    89.91
Edelrid    58.50
dtype: float64

# Ejercicios con DataFrame

In [111]:
from pandas import DataFrame

#1. Usando las listas brands, models y prices de los ejercios anterior. Crear un DataFrame llamado que almacene toda esta
# información en tres columnas (brand, model y price) y los índices los genere automáticamente.
valores = {"Brand":brand,"Model":models,"Price":prices}
miDataFrame = DataFrame(valores)
print(miDataFrame)

           Brand       Model  Price
0           Camp      Energy   39.9
1           Camp      Jasper   56.0
2          Petzl       Simba   45.0
3          Petzl  Adjama New   75.0
4        Edelrid         Moe   49.9
5        Edelrid       Orion   99.9
6        Edelrid        Leaf   65.0
7  Black Diamond       Xenes  119.9
8  Black Diamond       Chaos   99.9
9         Mammut       Ophir   55.0

In [45]:
#2. Mostrar la columna “Brand”.
#miDataFrame["Brand"] o:
miDataFrame.Brand

0             Camp
1             Camp
2            Petzl
3            Petzl
4          Edelrid
5          Edelrid
6          Edelrid
7    Black Diamond
8    Black Diamond
9           Mammut
Name: Brand, dtype: object

In [47]:
#3. Muestra la quinta fila.
miDataFrame.iloc[5]

Brand    Edelrid
Model      Orion
Price       99.9
Name: 5, dtype: object

In [70]:
#4. Modifica el precio del modelo “Energy” a 9999.
miDataFrame.loc[(miDataFrame.Model == "Energy"),'Price'] = 9999
print(miDataFrame)

           Brand       Model   Price
0           Camp      Energy  9999.0
1           Camp      Jasper    56.0
2          Petzl       Simba    45.0
3          Petzl  Adjama New    75.0
4        Edelrid         Moe    49.9
5        Edelrid       Orion    99.9
6        Edelrid        Leaf    65.0
7  Black Diamond       Xenes   119.9
8  Black Diamond       Chaos    99.9
9         Mammut       Ophir    55.0

In [71]:
#5. Crea una nueva columna “Discount” con el valor 50 para cada fila.
miDataFrame["Discount"] = 50
print(miDataFrame)

           Brand       Model   Price  Discount
0           Camp      Energy  9999.0        50
1           Camp      Jasper    56.0        50
2          Petzl       Simba    45.0        50
3          Petzl  Adjama New    75.0        50
4        Edelrid         Moe    49.9        50
5        Edelrid       Orion    99.9        50
6        Edelrid        Leaf    65.0        50
7  Black Diamond       Xenes   119.9        50
8  Black Diamond       Chaos    99.9        50
9         Mammut       Ophir    55.0        50

In [113]:
#6. Usando el DataFrame del Ejercicio 5, crea un nuevo DataFrame que añada las columnas “Sales” y “Total”.
miDataFrame2 = miDataFrame.copy()
miDataFrame["Sales"] = 0
miDataFrame2["Total"] = 0

print(miDataFrame2)

           Brand       Model  Price  Total
0           Camp      Energy   39.9      0
1           Camp      Jasper   56.0      0
2          Petzl       Simba   45.0      0
3          Petzl  Adjama New   75.0      0
4        Edelrid         Moe   49.9      0
5        Edelrid       Orion   99.9      0
6        Edelrid        Leaf   65.0      0
7  Black Diamond       Xenes  119.9      0
8  Black Diamond       Chaos   99.9      0
9         Mammut       Ophir   55.0      0

In [105]:
#7. Borra la primera y séptima fila.
miDataFrame2.drop([0,6],axis=0,inplace=True)
print(miDataFrame2)

           Brand       Model  Price  Sales  Total
1           Camp      Jasper   56.0      0      0
2          Petzl       Simba   45.0      0      0
3          Petzl  Adjama New   75.0      0      0
4        Edelrid         Moe   49.9      0      0
5        Edelrid       Orion   99.9      0      0
7  Black Diamond       Xenes  119.9      0      0
8  Black Diamond       Chaos   99.9      0      0
9         Mammut       Ophir   55.0      0      0

In [108]:
#8. Borra la primera y tercera columna.
miDataFrame2.drop(["Brand","Price"],axis=1,inplace=True)
print(miDataFrame2)

        Model  Sales  Total
1      Jasper      0      0
2       Simba      0      0
3  Adjama New      0      0
4         Moe      0      0
5       Orion      0      0
7       Xenes      0      0
8       Chaos      0      0
9       Ophir      0      0

In [119]:
#9. Muestra la información para la marca “Edelrid”
miDataFrame2 = miDataFrame.copy()
miDataFrame["Sales"] = 0
miDataFrame2["Total"] = 0

print(miDataFrame2[miDataFrame2.Brand == "Edelrid"])

     Brand  Model  Price  Sales  Total
4  Edelrid    Moe   49.9      0      0
5  Edelrid  Orion   99.9      0      0
6  Edelrid   Leaf   65.0      0      0

In [120]:
#10.Muestra todos los valores con un precio mayor que 70.
print(miDataFrame2[miDataFrame2.Price > 70])

           Brand       Model  Price  Sales  Total
3          Petzl  Adjama New   75.0      0      0
5        Edelrid       Orion   99.9      0      0
7  Black Diamond       Xenes  119.9      0      0
8  Black Diamond       Chaos   99.9      0      0

In [123]:
import numpy as np

#11.Cree una lista con 10 número aleatorios entre 0 y 500 y añadelo como valor de la columna “Sales”.
array = np.random.randint(0,501,(10))

miDataFrame2["Sales"] = array
print(miDataFrame2)

           Brand       Model  Price  Sales  Total
0           Camp      Energy   39.9     46      0
1           Camp      Jasper   56.0    445      0
2          Petzl       Simba   45.0     92      0
3          Petzl  Adjama New   75.0      9      0
4        Edelrid         Moe   49.9     17      0
5        Edelrid       Orion   99.9    156      0
6        Edelrid        Leaf   65.0     64      0
7  Black Diamond       Xenes  119.9    239      0
8  Black Diamond       Chaos   99.9      8      0
9         Mammut       Ophir   55.0    422      0

In [124]:
#12.Calcula el valor de la columna “Total” del resultado de multiplicar el precio y las ventas.
miDataFrame2["Total"] = miDataFrame2["Price"] * miDataFrame2["Sales"]
print(miDataFrame2)

           Brand       Model  Price  Sales    Total
0           Camp      Energy   39.9     46   1835.4
1           Camp      Jasper   56.0    445  24920.0
2          Petzl       Simba   45.0     92   4140.0
3          Petzl  Adjama New   75.0      9    675.0
4        Edelrid         Moe   49.9     17    848.3
5        Edelrid       Orion   99.9    156  15584.4
6        Edelrid        Leaf   65.0     64   4160.0
7  Black Diamond       Xenes  119.9    239  28656.1
8  Black Diamond       Chaos   99.9      8    799.2
9         Mammut       Ophir   55.0    422  23210.0

In [133]:
#13.Muestra la información del DataFrame ordenado por ventas.
print(miDataFrame2.sort_values(by="Sales"))

           Brand       Model  Price  Sales    Total
8  Black Diamond       Chaos   99.9      8    799.2
3          Petzl  Adjama New   75.0      9    675.0
4        Edelrid         Moe   49.9     17    848.3
0           Camp      Energy   39.9     46   1835.4
6        Edelrid        Leaf   65.0     64   4160.0
2          Petzl       Simba   45.0     92   4140.0
5        Edelrid       Orion   99.9    156  15584.4
7  Black Diamond       Xenes  119.9    239  28656.1
9         Mammut       Ophir   55.0    422  23210.0
1           Camp      Jasper   56.0    445  24920.0

In [176]:
#14.Usando la función apply cambia el formato a dos decimales.
print(miDataFrame2[["Price","Total"]].apply(lambda x: round(x,2)))

   Price    Total
0   39.9   1835.4
1   56.0  24920.0
2   45.0   4140.0
3   75.0    675.0
4   49.9    848.3
5   99.9  15584.4
6   65.0   4160.0
7  119.9  28656.1
8   99.9    799.2
9   55.0  23210.0

In [203]:
import numpy as np

#15.Muestra la principal información de las variables estadísticas de las columnas de tipo numérico.
try:
    print(miDataFrame2.describe(include=np.number))
except:
    print("No hay variables estadisticas de tipo numerico")

            Price       Sales         Total
count   10.000000   10.000000     10.000000
mean    70.550000  149.800000  10482.840000
std     27.245846  166.090872  11374.848461
min     39.900000    8.000000    675.000000
25%     51.175000   24.250000   1095.075000
50%     60.500000   78.000000   4150.000000
75%     93.675000  218.250000  21303.600000
max    119.900000  445.000000  28656.100000

In [204]:
#16.Muestra la principal información de las variables estadísticas de las columnas de tipo categórico.
try:
    print(miDataFrame2.describe(include=['category']))
except:
    print("No hay variables estadisticas de tipo categórico")

No hay variables estadisticas de tipo categórico

In [216]:
#17.Muestra si hay algún valor nulo.
print(miDataFrame2[miDataFrame2.isna().any(axis=1)])
print()

miDataFrame3 = miDataFrame2.copy()
miDataFrame3.loc[0,"Price"] = None
print(miDataFrame2[miDataFrame3.isna().any(axis=1)])

Empty DataFrame
Columns: [Brand, Model, Price, Sales, Total]
Index: []

  Brand   Model  Price  Sales   Total
0  Camp  Energy   39.9     46  1835.4

In [224]:
#18.Calcula el número de productos para cada marca.
print(miDataFrame2)
miDataFrame2.groupby(["Brand"])["Total"].count()

           Brand       Model  Price  Sales    Total
0           Camp      Energy   39.9     46   1835.4
1           Camp      Jasper   56.0    445  24920.0
2          Petzl       Simba   45.0     92   4140.0
3          Petzl  Adjama New   75.0      9    675.0
4        Edelrid         Moe   49.9     17    848.3
5        Edelrid       Orion   99.9    156  15584.4
6        Edelrid        Leaf   65.0     64   4160.0
7  Black Diamond       Xenes  119.9    239  28656.1
8  Black Diamond       Chaos   99.9      8    799.2
9         Mammut       Ophir   55.0    422  23210.0

Brand
Black Diamond    2
Camp             2
Edelrid          3
Mammut           1
Petzl            2
Name: Total, dtype: int64

In [227]:
#19.Guarda la información del DataFrame en un fichero xlsx.
miDataFrame2.to_excel('DataFrame2.xlsx')