# Ejercicios numéricos

In [ ]:
#1. Define cualquier número de tipo int.
valor = int(2)
tipo = type(entero)
print("La variable es de tipo {0} y su valor es: {1}".format(tipo,valor))

In [ ]:
#2. Define cualquier número de tipo float.
valor = float(2) #Tambien se puede definir como valor = 2.0
print("La variable es de tipo {0} y su valor es: {1}".format(type(valor),valor))

In [ ]:
#3. Define cualquier número de tipo complex.
valor = complex(2,12) #Tambien se puede definir como valor = 2+12j
print("La variable es de tipo {0} y su valor es: {1}".format(type(valor),valor))

In [ ]:
#4. Muestra la parte real del número definido en el punto 3.
valor = complex(2,12)
print("La parte real de la variable valor es: {0}".format(valor.real))

In [ ]:
#5. Muestra la parte imaginaria del número definido en el punto 3.
valor = complex(2,12)
print("La parte real de la variable valor es: {0}".format(valor.imag))

# Ejercicios boolean

In [ ]:
#1. Define una variable con valor True.
isTrue = True
print("El tipo {0} tiene un valor {1}".format(type(isTrue),isTrue))

In [ ]:
#2. Define una variable con valor False.
isFalse = False
print("El tipo {0} tiene un valor {1}".format(type(isFalse),isFalse))

In [ ]:
#3. Define una variable con valor True mediante un entero.
isTrue = bool(1)
print("El tipo {0} tiene un valor {1}".format(type(isTrue),isTrue))

# Ejercicios con string

In [ ]:
#1. Define una variable con un string con el valor “ Master Python”.
var = " Master Python"
print(var)

In [ ]:
#2. Muestra la longitud de la variable anterior.
print(len(var))

In [ ]:
#3. Muestra el primer carácter del string.
print(var[0])

In [ ]:
#4. Muestra el penúltimo carácter del string.
print(var[-2])

In [ ]:
#5. Elimina los espacios iniciales del string.
print(var.replace(" ",""))

In [ ]:
#6. Muestra los caracteres en posiciones impares.
print(var[1::2])

In [ ]:
#7. Convierte todo el string en minúscula.
var_min = var.lower()
print(var_min)

In [ ]:
#8. Separa el string por espacios en blanco.
var2 = ""
for i in var:
    if i != "":
        var2 += i+" "
print(var2)

print(var.center(15))

In [ ]:
#9. Reemplaza “python” por “JAVA”.
print(var.replace("Python","JAVA"))

# Ejercicio con listas

In [1]:
#1. Define una lista con los valores 10,20,'Hello',20.5
lista = [10,20,"Hello",20.5]
print(lista)

[10, 20, 'Hello', 20.5]

In [2]:
#2. Añade “Word” al final de la lista.
lista.append("Word")
print(lista)

[10, 20, 'Hello', 20.5, 'Word']

In [ ]:
#3. Añade “Python” al principio de la lista.
lista.insert(0,"Python")
print(lista)

In [ ]:
#4. Elimina el segundo valor de la lista.
lista.pop(1)
print(lista)

In [ ]:
#5. Crea una segunda lista con los valores 20, 40, ‘Bye’ (utiliza una forma diferente que en el punto 1)
lista2 = list((20,40,"Bye"))
print(lista2)

In [ ]:
#6. Une las dos listas.
listas_unidas = lista + lista2
print(listas_unidas)

#En el caso que se aniden
lista_anidada = lista
lista_anidada.append(lista2)
print(lista_anidada)

In [ ]:
#7. Muestra la lista final.
listas_unidas = lista + lista2

print(listas_unidas[len(lista):])
print(listas_unidas[-len(lista2):])

# Ejercicios con set

In [ ]:
#1. Define un conjunto con los valores coche, motocicleta, bicicleta.
mi_set = {"coche","motocicleta","bicicleta"}
print(mi_set)

In [ ]:
#2. Añade avión al conjunto.
mi_set.add("avion")
print(mi_set)

In [ ]:
#3. Elimina coche del conjunto.
mi_set.remove("coche")
print(mi_set)

In [ ]:
#4. Crea otro conjunto con los valores avión, coche, tractor (utiliza una forma diferente que en el punto 1).
mi_set2 = set(("avion","coche","tractor"))
print(mi_set)

In [ ]:
#5. Crea otro conjunto con los valores que se repitan en los conjuntos anteriores.
mi_set2.add("bicicleta")
print(mi_set)

In [ ]:
#6. Muestra un conjunto con todos los valores que pertenecen al conjunto creado en el punto 1 y punto 4
mi_set_unido = mi_set.union(mi_set2)

print(mi_set_unido)

# Ejercicio diccionarios

In [ ]:
#1. Define el diccionario usando dict()
diccionario = dict(coche=10,motocicleta=20,camion=30)
print(diccionario)

In [ ]:
#2. Define el diccionario usando { }.
diccionario = {"coche":10,"motocicleta":20,"camion":30}
print(diccionario)

In [ ]:
#3. Define el diccionario usando zip().
vehiculo = ["coche", "camion", "valores"]
valor = [10,20,30]

diccionario = zip(vehiculo,valor)
for i in diccionario:
    print(i)

In [ ]:
#4. Muestra los valores del diccionario.
print(diccionario.values())

In [ ]:
#5. Muestra las claves del diccionario.
print(diccionario.keys())

In [ ]:
#6. Muestra el valor de coche.
print(diccionario["coche"])

In [ ]:
#7. Añade al diccionario avión con valor 100.
diccionario["avion"] = 100
print(diccionario)

In [ ]:
#8. Muestra los elementos del diccionario.
print(diccionario.items())